@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/mixins.scss";

.header {
  @include flex(flex-start, space-between);
  @include size(100%, 75px);
  background-color: white;
  padding: 10px 30px;
  border-bottom: 1px solid $color-border;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

  &-first,
  &-second {
    @include flex(center, null);
  }

  &-section {
    &-logo {
      @include flex(center, null);
      margin-right: 70px;

      div {
        @include size(35px, 35px);
        border-radius: 9999px;
        background: $color-primary;
        margin-right: 20px;
      }
    }

    &-search {
      @include flex(center, null);
      width: 100%;
      position: relative;

      input {
        width: 400px;
        border: 1px solid $color-border;
        border-left: none;
        padding: 5px;
        height: 30px;
        border-radius: 0px 999px 999px 0px;
        outline: none;
        color: $color-text;
      }

      input::placeholder {
        color: $color-text;
        font-weight: 100;
      }

      button {
        width: 60px;
        height: 30px;
        border: 1px solid $color-border;
        background: $color-primary;
        text-align: center;
        color: #fff;
        border-radius: 999px 0px 0px 999px;
        cursor: pointer;
        font-size: 20px;
      }
    }
  }

  &-second {
    position: relative;

    .icon {
      @include flex(center, center);
      @include size(35px, 35px);
      position: relative;
      border-radius: 999px;
      background: $color-light;
    }

    &:hover .header-second-user {
      opacity: 1;
    }

    &-user {
      position: absolute;
      top: calc(100% + 10px);
      right: 0;
      width: 220px;
      background-color: $color-light;
      padding: 20px;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      opacity: 0;
      transition: 0.3 s opacity;
      transition-delay: 0.4s;

      div {
        margin-bottom: 20px;
      }

      button:last-of-type {
        margin-bottom: 0;
        padding: 0 66px;
      }
    }
  }
}
