<div class="header">
  <div class="header-first">
    <div class="header-section-logo">
      <div></div>
      <span>ArticleSearch</span>
    </div>

    <div class="header-section-search">
      <button style="font-size: 15px">
        <i class="fa fa-search fa-xs"></i>
      </button>
      <input type="text" placeholder="Type to Search..." />
    </div>
  </div>
  <div class="header-second">
    <div>
      <i class="fa fa-user" style="font-size: 20px; color: #e7eaee"></i>
    </div>
    <span>Vasile Andrei</span>
  </div>
</div>
