<app-header></app-header>

<div
  class="content flex column al-center"
  *ngIf="registerStep === registerStepsEnum.firstStep"
>
  <form class="form flex column al-center" action="" [formGroup]="form">
    <div class="form-title">Register</div>
    <div class="form-content flex column center">
      <div class="form-row">
        <div class="form-group">
          <label for=""> First name </label>
          <input type="text" formControlName="firstName" placeholder="Mike" />
          <div
            *ngIf="
              isFormSubmitted && form.get('firstName').hasError('required')
            "
            class="form-errors"
          >
            {{ errorsEnum.requiredField }}
          </div>
        </div>
        <div class="form-group">
          <label for=""> Last name </label>
          <input type="text" formControlName="lastName" placeholder="Smith" />
          <div
            *ngIf="isFormSubmitted && form.get('lastName').hasError('required')"
            class="form-errors"
          >
            {{ errorsEnum.requiredField }}
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for=""> Email </label>
          <input
            type="email"
            formControlName="email"
            placeholder="example@gmail.com"
          />
          <div
            *ngIf="isFormSubmitted && form.get('email').hasError('required')"
            class="form-errors"
          >
            {{ errorsEnum.requiredField }}
          </div>
          <div
            *ngIf="isFormSubmitted && form.get('email').hasError('email')"
            class="form-errors"
          >
            {{ errorsEnum.email }}
          </div>
        </div>
        <div class="form-group">
          <label for=""> Password </label>
          <input
            type="password"
            formControlName="password"
            placeholder="********"
          />
          <div
            *ngIf="isFormSubmitted && form.get('password').hasError('required')"
            class="form-errors"
          >
            {{ errorsEnum.requiredField }}
          </div>
          <div
            *ngIf="
              isFormSubmitted && form.get('password').hasError('minlength')
            "
            class="form-errors"
          >
            {{ errorsEnum.minLength }}
            8 characters
          </div>
        </div>
      </div>
    </div>
    <div class="flex column">
      <button class="btn btn-primary" (click)="goToSecondStep()">
        Next step
      </button>
      <a class="btn btn-outline" [routerLink]="'/login'">Login</a>
    </div>
  </form>
</div>

<div class="cold-start" *ngIf="registerStep === registerStepsEnum.secondStep">
  <div class="cold-start-wrapper">
    <div>
      <span>Hello, </span>
      <span>{{ form.value.firstName + " " + form.value.lastName + "!" }}</span>
      <span> Please select at least 3 area of interest.</span>
    </div>
    <div class="grid cold-start-container">
      <div
        *ngFor="let item of preferences"
        class="cold-start-container-item"
        [ngClass]="{
          'cold-start-container-item-selected': selectedPreferences.includes(
            item.id
          )
        }"
        (click)="modifyPreferences(item)"
      >
        {{ item.name }}
      </div>
    </div>
    <div class="flex column al-center">
      <button
        class="btn btn-primary"
        style="width: 170px"
        [ngClass]="{ 'btn-disabled': selectedPreferences.length < 3 }"
        (click)="selectedPreferences.length < 3 ? '' : submit()"
      >
        Register
      </button>

      <button
        class="btn btn-outline"
        style="width: 210px"
        (click)="goToTheFirstStep()"
      >
        Previous step
      </button>
    </div>
  </div>
</div>
