<app-header></app-header>

<div
  class="content flex column al-center"
  *ngIf="registerStep === registerStepsEnum.firstStep"
>
  <form class="form flex column al-center" action="" [formGroup]="form">
    <div class="form-title">Register</div>
    <div class="form-content flex column center">
      <div class="form-row">
        <div class="form-group">
          <label for=""> First name </label>
          <input type="text" formControlName="firstName" placeholder="Mike" />
          <p
            *ngIf="
              isFormSubmitted && form.get('firstName').hasError('required')
            "
            class="form-errors"
          >
            {{ errorsEnum.requiredField }}
          </p>
        </div>
        <div class="form-group">
          <label for=""> Last name </label>
          <input type="text" formControlName="lastName" placeholder="Smith" />
          <p
            *ngIf="isFormSubmitted && form.get('lastName').hasError('required')"
            class="form-errors"
          >
            {{ errorsEnum.requiredField }}
          </p>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for=""> Email </label>
          <input
            type="email"
            formControlName="email"
            placeholder="example@gmail.com"
          />
          <p
            *ngIf="isFormSubmitted && form.get('email').hasError('required')"
            class="form-errors"
          >
            {{ errorsEnum.requiredField }}
          </p>
          <p
            *ngIf="isFormSubmitted && form.get('email').hasError('email')"
            class="form-errors"
          >
            {{ errorsEnum.email }}
          </p>
        </div>
        <div class="form-group">
          <label for=""> Password </label>
          <input
            type="password"
            formControlName="password"
            placeholder="********"
          />
          <p
            *ngIf="isFormSubmitted && form.get('password').hasError('required')"
            class="form-errors"
          >
            {{ errorsEnum.requiredField }}
          </p>
        </div>
      </div>
    </div>
    <div>
      <button class="btn btn-primary" (click)="goToSecondStep()">
        Next step
      </button>
    </div>
  </form>
</div>

<div class="cold-start" *ngIf="registerStep === registerStepsEnum.secondStep">
  <div class="cold-start-wrapper">
    <div>
      Buna ziua, Andrei Popescu! Te rugam sa alegi cel putin 3 arii de interes.
    </div>
    <div class="grid cold-start-container">
      <div
        class="cold-start-container-item"
        [ngClass]="{
          'cold-start-container-item-selected': preferences.includes(item.id)
        }"
        *ngFor="let item of items"
        (click)="modifyPreferences(item)"
      >
        {{ item.name }}
      </div>
    </div>
    <div class="flex center">
      <button
        class="btn btn-primary"
        [ngClass]="{ 'btn-disabled': preferences.length < 3 }"
        (click)="preferences.length < 3 ? '' : submit()"
      >
        Continue
      </button>
    </div>
  </div>
</div>
