<app-header></app-header>

<div class="content flex column al-center">
  <div class="article" *ngFor="let article of articleService.articles">
    <div class="article-header">
      <div class="article-title">{{ article.title }}</div>
      <div class="article-recommendations">
        <div>{{ article.claps }}</div>
        <span><img src="/assets/icons/clapping.png" alt="image" /></span>
      </div>
    </div>
    <div class="article-subtitle">
      {{ article.subtitle }}
    </div>
    <div class="footer">
      <div class="tags">
        <div class="tag" *ngFor="let tag of article.tags">
          {{ tag }}
        </div>
      </div>
      <a class="read-more" [href]="article.source" target="_blank">Read more</a>
    </div>
  </div>
</div>
