@import "assets/scss/mixins";
@import "assets/scss/variables";
@import "assets/scss/layout";

* {
  font-size: 14px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  line-height: 1.21;
}

html {
  min-height: 100%;
  // min-height: -webkit-fill-available;
}

body {
  min-height: 100%;
  margin: 0;
  background: $color-light;
  overflow: auto;
  height: 100vh;
}

input,
textarea {
  outline: 0;
}

button {
  user-select: none;
}

.btn {
  @include flex(center, center);
  font-family: inherit;
  height: 30px;
  border-radius: 9999px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 50px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  &-primary {
    background: $color-primary;
    color: #fff;
  }

  &-outline {
    background: #fff;
    color: $color-primary;
    border: 2px solid $color-primary;
  }

  &-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.form {
  border-radius: 5px;
  margin-top: 50px;
  background-color: white;
  padding: 50px;
  min-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  &-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  &-row {
    @include flex();
    margin: 20px;

    .form-group:last-of-type {
      margin-right: 0px;
    }
  }

  &-col {
    @include flex();
    flex-direction: column;
    margin: 20px;
  }

  &-group {
    @include flex();
    flex-direction: column;
    width: 255px;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;

    label {
      margin-bottom: 5px;
      padding-left: 1px;
    }

    input {
      height: 40px;
      border: 1px solid $color-border;
      border-radius: 5px;
      padding: 0 7px;
      background-color: $color-light;
      width: 100%;
      transition: 0.5s background-color;

      &::placeholder {
        color: rgba($color-text, 0.4);
        transition: 0.3s opacity;
      }
    }

    input:focus {
      background-color: white;

      &::placeholder {
        opacity: 0;
      }
    }
  }

  &-errors {
    font-size: 13px;
    margin-top: 5px;
    color: $color-danger;
  }
}
