# /etc/nginx/nginx.conf  

server {
    listen       80;
    listen  [::]:80;
    server_name  localhost;

    #access_log  /var/log/nginx/host.access.log  main;

    location /api/login {
        proxy_pass ${IDENTITY_URI};
    }

    location /api/register {
        proxy_pass ${IDENTITY_URI};
    }
}