.flex {
  display: flex;

  &.al-center {
    align-items: center;
  }

  &.al-end {
    align-items: flex-end;
  }

  &.center {
    justify-content: center;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.spaced {
    justify-content: space-between;
  }

  &.column {
    flex-direction: column;
  }

  &.full {
    flex: 1;
  }
}

.grid {
  display: grid;
}
